{% extends "templates/base.html" %} {% block content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Documentation</div>
			<!-- /.panel-heading -->
			<div class="panel-body">Below are panels with the corresponding documentation! <br/>
			If anything is not clear in these docs then please email the creator: <a href="mailto:rockwotj@gmail.com">rockwotj@gmail.com</a></div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Sermons</div>
			<!-- /.panel-heading -->
			<div class="panel-body">This project is still under
				construction!</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Events</div>
			<!-- /.panel-heading -->
			<div class="panel-body">This project is still under
				construction!</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Categories</div>
			<!-- /.panel-heading -->
			<div class="panel-body">This project is still under
				construction!</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">News</div>
			<!-- /.panel-heading -->
			<div class="panel-body">This project is still under
				construction!</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Delete</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<p>If something is deleted from the Wordpress site, it is not removed from the app!</p>
				<p>In order to delete something from the app, simply go to View Data in the side panel, then click on
				the category of what you will be deleting. Then from that page simply find the data that you would like to 
				delete and press the red delete button.</p>
				<b>WARNING! There is no way recover deleted data.</b>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


{% endblock %}
